
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="col-xs-12">
        <label> Region :</label>
        <select name="regionselected" class="form-control" (change)="changerStatregion()" [(ngModel)]="regionchoisie">
          <option *ngFor="let element of regions" value="{{element.id}}"> {{ element.name}}</option>
        </select>
      </div>
      <div class="col-xs-12" style="padding-top: 10px;">
        <div *ngIf="chartOptions1">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions1"
            style="width: auto; height: auto; display: block;"
          ></highcharts-chart>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div  *ngIf="Piechartoptions2" style="padding-top: 30px;">
        <highcharts-chart
          [Highcharts]="Highcharts"

          [options]="Piechartoptions2"

          style="width: auto; height: 440px; display: block;"
        ></highcharts-chart>

      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-xs-6">
      <div  *ngIf="Piechartoptions" style="padding-top: 30px;">
        <highcharts-chart
          [Highcharts]="Highcharts"

          [options]="Piechartoptions"

          style="width: auto; height: 440px; display: block;"
        ></highcharts-chart>

      </div>
    </div>

  </div>
  <div class="row" style="padding-top: 20px;">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [constructorType]="'mapChart'"
      [options]="chartMap"

      style="width: 100%; height: 650px; display: block;"
    ></highcharts-chart>


  </div>
  <div class="row">

    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"

      style="width: auto; height: auto; display: block;"
    ></highcharts-chart>
  </div>
</div>





